<app-menu></app-menu>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" *ngFor="let prod of product">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 250px"
          *ngIf="prod.productImage !== null"
          src="prod.productImage"
          alt="Card image cap"
        />
        <img
          class="card-img-top"
          style="height: 250px"
          *ngIf="prod.productImage === null"
          src="/assets/user.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ prod.productName }}</h5>
          <p class="card-text">
            {{ prod.productDescription }}
          </p>
          <a onclick="countToCart()" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
