<!-- <div class="product-edit">
  <div class="dashboard-header">Event Details</div>
</div>

<div class="product-form">
  <form
    class="form needs-validation text-center container"
    novalidate
    [formGroup]="productForm"
    autocomplete="off"
    novalidate="novalidate"
    id="productForm"
  >
    <input id="id" name="id" formControlName="id" style="display: none" />
    <div class="row mb-2">
      <label for="title" class="col-3 col-form-label">Product Name: </label>
      <div class="col-8">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          formControlName="title"
          autocomplete="off"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="row mb-2">
        <label for="title" class="col-3 col-form-label">Product Name: </label>
        <div class="col-8">
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Title"
            formControlName="title"
            autocomplete="off"
            class="form-control"
            required
          />
        </div>
      </div>

    <div class="row mb-2">
      <label for="priority" class="col-3 col-form-label">Number</label>
      <div class="col-8">
        <input
          type="number"
          id="priority"
          min="1"
          (keypress)="numberOnly($event)"
          name="priority"
          placeholder="Number"
          formControlName="priority"
          autocomplete="off"
          class="form-control"
          required
        />
      </div>
    </div>

    <div
      class="
        form-group
        d-flex
        flex-wrap
        justify-content-center
        align-items-center
      "
    >
      <button
        id="product_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
      >
        Save
      </button>
    </div>
  </form>
</div> -->
